!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Harish R
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/nav1'

    .container
      .col-md-2

      .col-md-8
        .row
          - if notice
            %div{class: "alert alert-info"}
              = notice
          - if alert
            %div{class: "alert alert-danger"}
              = alert
        .row
          = yield
        .row

      .col-md-2
